<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onlinechese.mapper.RankMapper">
  <resultMap id="BaseResultMap" type="com.onlinechese.entys.Rank">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="rank_grade" jdbcType="INTEGER" property="rankGrade" />
    <result column="rank_grade_stage" jdbcType="INTEGER" property="rankGradeStage" />
    <result column="star" jdbcType="INTEGER" property="star" />
    <result column="protect_count" jdbcType="INTEGER" property="protectCount" />
    <result column="win_count" jdbcType="INTEGER" property="winCount" />
    <result column="transport_count" jdbcType="INTEGER" property="transportCount" />
    <result column="continus_transport" jdbcType="INTEGER" property="continusTransport" />
    <result column="continus_win" jdbcType="INTEGER" property="continusWin" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_name, rank_grade, rank_grade_stage, star, protect_count, win_count, transport_count, 
    continus_transport, continus_win, created, updated
  </sql>
  <select id="selectByExample" parameterType="com.onlinechese.entys.RankExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from rank
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rank
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from rank
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.onlinechese.entys.RankExample">
    delete from rank
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.onlinechese.entys.Rank">
    insert into rank (id, user_name, rank_grade, 
      rank_grade_stage, star, protect_count, 
      win_count, transport_count, continus_transport, 
      continus_win, created, updated
      )
    values (#{id,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{rankGrade,jdbcType=INTEGER}, 
      #{rankGradeStage,jdbcType=INTEGER}, #{star,jdbcType=INTEGER}, #{protectCount,jdbcType=INTEGER}, 
      #{winCount,jdbcType=INTEGER}, #{transportCount,jdbcType=INTEGER}, #{continusTransport,jdbcType=INTEGER}, 
      #{continusWin,jdbcType=INTEGER}, #{created,jdbcType=TIMESTAMP}, #{updated,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.onlinechese.entys.Rank">
    insert into rank
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="rankGrade != null">
        rank_grade,
      </if>
      <if test="rankGradeStage != null">
        rank_grade_stage,
      </if>
      <if test="star != null">
        star,
      </if>
      <if test="protectCount != null">
        protect_count,
      </if>
      <if test="winCount != null">
        win_count,
      </if>
      <if test="transportCount != null">
        transport_count,
      </if>
      <if test="continusTransport != null">
        continus_transport,
      </if>
      <if test="continusWin != null">
        continus_win,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="updated != null">
        updated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="rankGrade != null">
        #{rankGrade,jdbcType=INTEGER},
      </if>
      <if test="rankGradeStage != null">
        #{rankGradeStage,jdbcType=INTEGER},
      </if>
      <if test="star != null">
        #{star,jdbcType=INTEGER},
      </if>
      <if test="protectCount != null">
        #{protectCount,jdbcType=INTEGER},
      </if>
      <if test="winCount != null">
        #{winCount,jdbcType=INTEGER},
      </if>
      <if test="transportCount != null">
        #{transportCount,jdbcType=INTEGER},
      </if>
      <if test="continusTransport != null">
        #{continusTransport,jdbcType=INTEGER},
      </if>
      <if test="continusWin != null">
        #{continusWin,jdbcType=INTEGER},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.onlinechese.entys.RankExample" resultType="java.lang.Long">
    select count(*) from rank
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update rank
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userName != null">
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.rankGrade != null">
        rank_grade = #{record.rankGrade,jdbcType=INTEGER},
      </if>
      <if test="record.rankGradeStage != null">
        rank_grade_stage = #{record.rankGradeStage,jdbcType=INTEGER},
      </if>
      <if test="record.star != null">
        star = #{record.star,jdbcType=INTEGER},
      </if>
      <if test="record.protectCount != null">
        protect_count = #{record.protectCount,jdbcType=INTEGER},
      </if>
      <if test="record.winCount != null">
        win_count = #{record.winCount,jdbcType=INTEGER},
      </if>
      <if test="record.transportCount != null">
        transport_count = #{record.transportCount,jdbcType=INTEGER},
      </if>
      <if test="record.continusTransport != null">
        continus_transport = #{record.continusTransport,jdbcType=INTEGER},
      </if>
      <if test="record.continusWin != null">
        continus_win = #{record.continusWin,jdbcType=INTEGER},
      </if>
      <if test="record.created != null">
        created = #{record.created,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updated != null">
        updated = #{record.updated,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update rank
    set id = #{record.id,jdbcType=BIGINT},
      user_name = #{record.userName,jdbcType=VARCHAR},
      rank_grade = #{record.rankGrade,jdbcType=INTEGER},
      rank_grade_stage = #{record.rankGradeStage,jdbcType=INTEGER},
      star = #{record.star,jdbcType=INTEGER},
      protect_count = #{record.protectCount,jdbcType=INTEGER},
      win_count = #{record.winCount,jdbcType=INTEGER},
      transport_count = #{record.transportCount,jdbcType=INTEGER},
      continus_transport = #{record.continusTransport,jdbcType=INTEGER},
      continus_win = #{record.continusWin,jdbcType=INTEGER},
      created = #{record.created,jdbcType=TIMESTAMP},
      updated = #{record.updated,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.onlinechese.entys.Rank">
    update rank
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="rankGrade != null">
        rank_grade = #{rankGrade,jdbcType=INTEGER},
      </if>
      <if test="rankGradeStage != null">
        rank_grade_stage = #{rankGradeStage,jdbcType=INTEGER},
      </if>
      <if test="star != null">
        star = #{star,jdbcType=INTEGER},
      </if>
      <if test="protectCount != null">
        protect_count = #{protectCount,jdbcType=INTEGER},
      </if>
      <if test="winCount != null">
        win_count = #{winCount,jdbcType=INTEGER},
      </if>
      <if test="transportCount != null">
        transport_count = #{transportCount,jdbcType=INTEGER},
      </if>
      <if test="continusTransport != null">
        continus_transport = #{continusTransport,jdbcType=INTEGER},
      </if>
      <if test="continusWin != null">
        continus_win = #{continusWin,jdbcType=INTEGER},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null">
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.onlinechese.entys.Rank">
    update rank
    set user_name = #{userName,jdbcType=VARCHAR},
      rank_grade = #{rankGrade,jdbcType=INTEGER},
      rank_grade_stage = #{rankGradeStage,jdbcType=INTEGER},
      star = #{star,jdbcType=INTEGER},
      protect_count = #{protectCount,jdbcType=INTEGER},
      win_count = #{winCount,jdbcType=INTEGER},
      transport_count = #{transportCount,jdbcType=INTEGER},
      continus_transport = #{continusTransport,jdbcType=INTEGER},
      continus_win = #{continusWin,jdbcType=INTEGER},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>